@page
@model GPS.Service.ButtonsModel
@{
    ViewData["Title"] = "Buttons";
}

<h1>Buttons</h1>

<div class="row justify-content-center">
    <div class="col-lg-5">
        <form method="post" enctype="multipart/form-data" action="api/ManageOutages">
            <div class="upload text-center mb-4">
                <i class="fa fa-upload"></i>
                <p>Upload an SOF File</p>
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                    browse
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="submit" />
        </form>
    </div>
</div>
