@page
@model SOFDownloadModel
@{
	ViewData["Title"] = "SOF File Download";
}

<a href="~/SOF/SOFDownloadFile.sof" download="CurrentSOF.sof">Download SOF File</a>

@section Scripts {
	<script src="~/js/data-table.js"></script>
}